.home-container {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}

.home-card-top {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  background-color: #00285f;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.home-content-container-card-top {
  padding: 25px 0px 21px 0px;
}

.home-content-container-card-top h1 {
  font-size: 22px;
  color: #ffffff;
}

.home-content-container-card-top p {
  padding: 13px 20px 0px 20px;
  font-size: 14px;
  color: #ffffff;
}

.home-image-container-card-top {
  padding: 42px 28px 0px 28px;
}

.home-image-container-card-top svg {
  width: 100%;
  height: auto;
}

.home-card-bottom {
  display: flex;
  flex-direction: column;
  padding: 25px 20px 0px 20px;
  margin-top: 20px;
  text-align: center;

  background-color: #ededed;
  border-radius: 10px;
}

.home-card-bottom p {
  margin-top: 10px;
  font-size: 18px;
  color: #585858;
}

/**** 576px ****/
@media (min-width: 576px) {
  .home-container {
    padding: 30px 20px;
  }

  .home-content-container-card-top {
    padding: 20px 58px 30px 58px;
  }

  .home-content-container-card-top h1 {
    font-size: 36px;
  }

  .home-content-container-card-top p {
    font-size: 18px;
  }

  .home-image-container-card-top {
    padding: 20px 44px 0px 44px;
  }

  .home-image-container-card-top svg {
    width: 80%;
    height: auto;
  }

  .home-card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 41px;
  }

}
/**** 768px ****/
@media (min-width: 768px) {

}