.home-container {
  padding: 20px 10px;
  font-size: 22px;
  text-align: center;
  border: 1px solid red;
}

.home-card-top {
  display: flex;
  flex-direction: column-reverse;
  background-color: #00285F;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  border: 1px solid green;
}

.home-content-container-card-top {
  border: 2px solid #fff;
}

.home-content-container-card-top h1 {
  font-size: 1em;
  color: #FFFFFF;
}

.home-image-container-card-top {
  padding: 62px 28px 32px;
  border: 2px solid #fffa;
}

.home-image-container-card-top svg {
  width: 100%;
  height: auto;
}
